<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/profile.css">
    <script src="https://kit.fontawesome.com/d5f1eb1970.js" crossorigin="anonymous"></script>
    <title>Profile</title>
</head>
<body>
<header>

    <div class="container">

        <div class="profile">

            <div class="profile-image">

                <label for="avatar">
                    <img src="<%=user.avatar%>" alt="">
                </label>
                <% if(isProfileOwn) { %>
                    <input type="file" id="avatar" style="display: none">
                <% } %>
            </div>

            <div class="profile-user-settings">

                <h1 class="profile-user-name"><%=user.username%></h1>

                <% if(isProfileOwn) { %>
                    <button class="btn profile-edit-btn">Edit Profile</button>

                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
                <% } %>

            </div>

            <div class="profile-stats">

                <ul>
                    <li><span class="profile-stat-count"><%=posts.length%></span> posts</li>
                    <li><span class="profile-stat-count"><%=user.followers.length%></span> followers</li>
                    <li><span class="profile-stat-count"><%=user.followings.length%></span> following</li>
                </ul>

                <%if(!isProfileOwn) {%>
                    <% if(isFollowed) { %>
                        <a href="/users/<%=user.username%>/unfollow" class="unfollow-link">Unfollow</a>
                    <% } else { %>
                        <a href="/users/<%=user.username%>/follow" class="follow-link">Follow</a>
                    <% } %>
                <% } %>

            </div>

            

            <div class="profile-bio">

                <p><span class="profile-real-name"><%=user.fullName%></span><%=user.bio%></p>

            </div>

        </div>
        <!-- End of profile section -->

    </div>
    <!-- End of container -->

</header>

<main>

    <div class="container">

        <div class="gallery">

            <% posts.forEach(post => { %>
                <div class="gallery-item" tabindex="0">

                <img src="<%=post.src%>" class="gallery-image" alt="">

                <div class="gallery-item-info">

                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> <%=post.likes.length%></li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> <%=post.comments.lenth%></li>
                    </ul>

                </div>

            </div>
            <% }) %>
        </div>
        <!-- End of gallery -->
    </div>
    <!-- End of container -->

</main>


<script>
    const inputFile = document.querySelector("#avatar");

    inputFile.addEventListener("change", async e => {
        const avatar = e.target.files[0];

        const formData = new FormData();
        formData.append("avatar", avatar);

        let response = await fetch("/users/avatar", {
            method: "POST",
            body: formData
        });

        response = await response.json();

        if(response.ok) {
            window.location.reload()
        } else {
            alert(response.message)
        }
    })
</script>

</body>
</html>
